@font-face {
  font-family: "Geist";
  src: url("https://unpkg.com/geist@1.3.1/dist/fonts/geist-sans/Geist-Variable.woff2")
    format("woff2");
}

:root {
  --text-primary: #5277c3;
  --text-content: #696969;
  --background-primary: #edf3ff;
  --background-secondary: #ffffff;
  --background-contrast: #fffaed;
}

* {
  font-family: Geist, sans-serif;
}

body,
html {
  background: var(--background-primary);
  font-size: 20px;
  @media only screen and (max-width: 833px) {
    font-size: 16px;
  }
}

#main {
  padding: 6rem 30%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  @media only screen and (max-width: 1700px) {
    padding: 6rem 4rem;
    align-items: start;
  }
  @media only screen and (max-width: 833px) {
    padding: 4rem 2rem;
    align-items: start;
  }
  background: linear-gradient(
    0deg,
    var(--background-primary) 0%,
    var(--background-secondary) 100%
  );
}

#logo {
  display: flex;
  gap: 1rem;
  @media only screen and (max-width: 833px) {
    align-items: center;
    text-align: center;
    flex-direction: column;
    align-self: center;
  }
}

#meetup {
  width: 10rem;
}

#titles {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @media only screen and (max-width: 833px) {
    align-items: center;
  }
}

#title-main {
  color: var(--text-primary);
  font-weight: 800;
  font-size: 4rem;
}

#title-sub {
  color: var(--text-content);
  font-weight: 300;
  font-size: 1.5rem;
}

#title-date {
  color: var(--background-secondary);
  font-weight: 300;
  background: var(--text-primary);
  font-size: 1.5rem;
  width: fit-content;
  padding: 0.25rem 1rem;
  border-radius: 4rem;
}

.information-block {
  line-height: 1.25rem;
  width: 32rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @media only screen and (max-width: 833px) {
    width: 100%;
  }
}

.information-title {
  font-weight: 700;
  color: var(--text-primary);
  font-size: 1.5rem;
}

.information-content {
  font-weight: 300;
  color: var(--text-content);
  text-align: left;
}

#next-event-social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
}

#map {
  height: 20em;
}

#agenda {
  @media only screen and (min-width: 1700px) {
    background: var(--background-contrast);
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0px 2px 8px 0px #0000001a;
    width: 125%;
  }
}

.schedule {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin-top: 1rem;
  @media only screen and (min-width: 1700px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
  }
}

.schedule-day {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.schedule-title {
  font-size: 1.25rem;
  color: var(--text-primary);
  font-weight: 700;
}

.schedule-block {
  background: var(--background-secondary);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 2px 8px 0px #0000001a;
  padding-bottom: calc(var(--data-hours) * 2rem);
}

.schedule-time {
  color: var(--text-content);
  font-weight: 300;
}

.schedule-content {
  color: var(--text-primary);
  font-weight: 700;
}

.invisible-lg {
  display: none;
  @media only screen and (min-width: 1700px) {
    display: inherit;
    opacity: 0;
  }
}
